*{
    margin: auto;
    padding: auto;
}

header{
	display: flex;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

body{
    background-color: antiquewhite;
}


ul{
    display: flex;
}

li{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    margin-right: 1%;
}


img{
    width: 18%;
    margin-top: 10px
}

p{
    margin-bottom: 20px;
}


.lien{
    width: 40%;
    padding-right: 1%;
}

.logo{
    width: 60%;
}

a{
    text-decoration: none;
}

p{
    font-size: 60px;
    padding-top: 10%;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
      
}

.citation{
    text-align: center;
}

span.perso{
    font-size: 57px;
    opacity: 0;
    filter: blur(3px);
    animation: fade-in 3s  forwards cubic-bezier(0.11, 0, 0.5, 0);
    color: red;
    
}

.fav{
    font-size: 20px;
    padding-bottom: 1%;
    padding-top: 2%;
}


span.autres{
    font-size: 25px;
    opacity: 0;
    filter: blur(3px);
    animation: fade-in 4.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    margin-left: 180px;
}

@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

@media (max-width: 1080px) {
    p{
        padding-top: 20%;
    }
}

@media (max-width: 1044px) {
    .lien{
        width: 45%;
    }

    .logo{
        width:55%;
    }

    p{
        font-size: 50px;
    }

    span.perso{
        font-size: 42px;
    }
    span.autres{
        font-size: 23px;
    }
}

@media (max-width: 428px) {
    .lien{
        width: 75%;
    }

    li{
        font-size: 15px;
    }

    .logo{
        width:25%;
    }
    img{
        width: 80%;
    }

    p{
        font-size: 30px;
        padding-top: 50%;
    }

    span.perso{
        font-size: 23px;
        width: 100%;
    }
    span.autres{
        font-size: 17px;
        width: 100%;
        margin-left: 2%;
    }

   
}

