*{
    margin: auto;
    padding: auto;
}

header{
	display: flex;
	padding-bottom: 20px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

body{
    background-color: antiquewhite;
}


ul{
    display: flex;
}

li{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;

}


img{
    width: 15%;
    margin-top: 10px
}

h1{
    padding-bottom: 20px;
    text-align: center;
}

form input{
    margin: 5px;
    width: 15%;
}


p{
    margin-bottom: 2%;
    text-align: center;
    font-size: 23px;
    margin-top: 5%;
}


.lien{
    width: 40%;
}

form{
    text-align: center;
}

@media (max-width: 1080px) {
    .logo{
        width:55%;
    }

    .lien{
        width:45%;
    }

    img{
        width: 25%;
    }

    p{
        margin-top: 10%;
    }
}

@media (max-width: 428px) {
    .logo{
        width:30%;
    }

    .lien{
        width:70%;
    }

    img{
        width: 70%;
    }

    p{
        margin-top: 40%;
    }

    li{
        font-size: 15px;
        margin-right: 1.5%;
    }

    form input{
        margin: 5px;
        width: 45%;
    }
}